.feedback-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 50px;
  gap: 8px;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.feedback-form input {
  width: 360px;
  height: 40px;
  padding: 8px 16px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  transition: border-color 0.3s ease;
}

.feedback-form textarea {
  width: 360px;
  height: 80px;
  outline: none;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  color: #2e2f42;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  transition: border-color 0.3s ease;
}

.feedback-form textarea:hover,
.feedback-form textarea:focus {
  border-color: #000;
}

.feedback-form input:hover,
.feedback-form input:focus {
  border-color: #000;
}

.feedback-form button {
  display: block;
  width: 95px;
  padding: 8px 16px;
  border-radius: 8px;
  border: 0;
  background-color: #4e75ff;
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  transition: background-color 0.3s ease;
}

.feedback-form button:hover,
.feedback-form button:focus {
  background-color: #6c8cff;
}
